#nav-bar {
  display: flex;
  position: fixed;
  height: 80px;
  width:100%;
  margin: 0px;
  background-color: #00a087;
  color: #e8fdff;
  padding: 0 0 2em 2em;
  display: block;
  z-index: 1;
}

#nav-bar .logo {
  height: 80px;
  width: 80px;
  float: left;
}
#nav-bar .header {
  float: left;
  line-height: 2;
  font-size: 42px;
}
#nav-bar .compose {
  float: right;
  color: black;
  margin: 15px 10px 0 0;
  font-size: 30px;
  opacity: .55;
}
#nav-bar .compose:hover {
  opacity: 1;
  color: red;
}