.new-tweet h2 {
  border-bottom: 1px solid black;
}
.new-tweet {
  padding: 10px;
  background: #eeeeee;
  border-radius: 5px;
  border: 1px solid #cccccc;

}
textarea {
  display: block;
  width: 100%;
  border: 1px solid #cccccc;
}
.counter {
  color: #244751;
  float: right;
  padding-top: 10px;
}

.counter.hasError {
  color: red;
  float: right;
  padding-top: 10px;
}

input {
  margin: 5px auto;

  background-color: #f6f5f6;
  /*border-radius: 5px;*/
  border: 1px solid #cccccc;
}
